# Python cache
__pycache__/
**/__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.pixel-lora/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Model weights / checkpoints
*.pt
*.pth
*.ckpt
*.safetensors

# Runtime outputs (ignore contents, keep directory via .gitkeep)
models/**/temp_outputs/*
!models/**/temp_outputs/.gitkeep

# Pixel character dataset (excluded from Git)
pixel_character_dataset/processed/dataset_4view/
pixel_character_dataset/processed/dataset_actions/
pixel_character_dataset/processed/*.zip
pixel_character_dataset/raw_assets/Universal-LPC-spritesheet/

# Web app generated outputs
webapp/web_cache/generated/*

# Evaluation generated data
reports/evaluation/real_4view/
reports/evaluation/real_4view_rgb/
reports/evaluation/real_action/
reports/evaluation/real_action_rgb/

reports/evaluation/unconditional/fake_uncond/
reports/evaluation/unconditional/fake_uncond_rgb/

reports/evaluation/text_conditional/fake_text/
reports/evaluation/text_conditional/fake_text_rgb/
reports/evaluation/text_conditional/prompts_*.txt

reports/evaluation/image_conditional/fake_action/
reports/evaluation/image_conditional/fake_action_rgb/