# Python cache
__pycache__/
**/__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.pixel-lora/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Model weights / checkpoints
*.pt
*.pth
*.ckpt
*.safetensors

# Model temp outputs (keep dirs, ignore contents)
models/**/temp_outputs/*